# =========================
# NODE / BACKEND
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# =========================
# BUILD / DIST
# =========================
dist/
build/
.out/
.output/
.vite/
.vinxi/
.tanstack/

# =========================
# ENV (NUNCA subir isso)
# =========================
.env
.env.*
!.env.example
!.env.production

# =========================
# DATABASE / LOCAL FILES
# =========================
*.sqlite
*.db
*.mdb

# Uploads temporários
uploads/
tmp/
temp/

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITORES
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# CACHE
# =========================
.cache/
.parcel-cache/
.next/
.nuxt/

# =========================
# TESTES
# =========================
coverage/

# =========================
# CLOUD / DEPLOY
# =========================
.vercel/
.netlify/

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

uploads/*
!uploads/.gitkeep

.env.local
.env.development
.env.production.local

*.lock-wscript

